*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradledemo/.settings/
/gradledemo/asmdemo/.classpath
/gradledemo/asmdemo/.project
/gradledemo/asmdemo/.settings/
/jetpackdir/.settings/
/jetpackdir/.project
/gradledemo/gradletest/.settings/
/gradledemo/gradletest/.classpath
/gradledemo/gradletest/.project
/release