[submodule "flutter"]
	path = flutter
	url = git@github.com:AdrianAndroid/flutter.git
[submodule "lib_flutter"]
	path = lib_flutter
	url = git@github.com:AdrianAndroid/lib_flutter.git
[submodule "lib_ios"]
	path = lib_ios
	url = git@github.com:AdrianAndroid/lib_ios.git
[submodule "lib_web"]
	path = lib_web
	url = git@github.com:AdrianAndroid/lib_web.git
[submodule "lib_android"]
	path = lib_android
	url = git@github.com:AdrianAndroid/lib_android.git
