*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/traces.txt
.project
.classpath
/.settings
/release
/module_u_base/fragmentation/build
/module_u_base/fragmentation_core/build