<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flannery.recyclerview">

    <application>
        <activity android:name=".FindChildViewActivity"></activity>
        <activity
            android:name=".RecycleActivity"
            android:label="@string/title_activity_recycle"
            android:theme="@style/Theme.AndroidHelper.NoActionBar" />
        <activity android:name=".FindCompatelyActivity" />
    </application>

</manifest>